body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.current-plan-details {
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

h2 {
    margin: 0;
}

button {
    background-color: transparent;
    color: #007bff;
    border: 2px solid #007bff;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

button:hover {
    background-color: #007bff;
    color: #fff;
}

button.active {
    background-color: #007bff;
    color: #fff;
}

p {
    margin: 5px 0;
}

.footer {
    margin-top: 20px;
    text-align: center;
}

.footer p {
    margin: 5px 0;
}